<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Manager</title>
    <link rel="shortcut icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav class="navbar">
        <a href="/home" class="logo">Manager</a>
        <div class="nav-links">
            <ul>
                <li class="display"><a href="/home">Home</a></li>
                <li><a href="https://github.com/PistacheDev/manager">GitHub</a></li>
                <li><a href="https://discord.com/invite/RkB3ZQsmGV">Support</a></li>
            </ul>
        </div>
        <img src="/assets/menu.png" alt="menu.png" class="hamburgerMenu">
    </nav>
    <header>
        <img src="/assets/icon.png">
        <p class="title">
            Manager v<%= version %>
        </p>
        <p class="subtitle">
            Multifunctional Open Source Discord Application
        </p>
        <a class="space" href="https://discord.com/oauth2/authorize?client_id=1211390696334958654&permissions=8&integration_type=0&scope=bot+applications.commands">Add the application</a>
        <a href="/dashboard">Dashboard</a>
    </header>
    <main>
        <p>
            <span>Open Source</span> <br>
            Manager is completely Open Source on GitHub! <br>
            You can contribute to the application development at the <a href="https://github.com/PistacheDev/manager">official GitHub repository</a>! <br>
            <br>
            <span>Moderation</span> <br>
            Need a comprehensive tool for your moderation? <br>
            Manager offers you many options to moderate your server! <br>
            You have commands at your disposal to ban, mute, warn, and much more! <br>
            <br>
            <span>Management</span> <br>
            Want to make managing your server easier? <br>
            Manager allows you to manage your Discord server more easily! <br>
            You have options to manage your channels, lock your server, and much more! <br>
            <br>
            <span>Logs</span> <br>
            Want to monitor your server's activity easily? <br>
            Manager allows you to set up logs quickly and simply! <br>
            With this, you can monitor your server 24/7! <br>
            <br>
            <span>Games</span> <br>
            Finding your server boring (or not)? <br>
            Manager offers you activities, like an XP system! <br>
            This feature is incomplete at the moment, but we're working on it! <br>
        </p>
    </main>
    <footer>
        Developed with ❤️ <br>
        2024 <br>
    </footer>
    <script src="/js/menu.js"></script>
</body>
</html>