main div.config div p
{
    font-size: calc(8px + 1vw);
}

main div.config div
{
    padding-bottom: 20px;
}

main div.config div form
{
    margin-left: 10px;
}

main div.config div form input
{
    font-size: calc(1px  + 1vw);
}

main div.config div form input.input
{
    width: calc(470px + 1vw);
}

main div.config div form input.submit
{
    width: calc(105px + 1vw);
}

main div.config div form a
{
    color: rgb(255, 0, 0);
    font-weight: 900;
    font-size: calc(5px + 1vw);
    margin-left: 5px;
}

main div.config div form a:hover
{
    text-decoration: underline;
}

main div.config div p.data
{
    font-size: calc(3px + 1vw);
    margin-top: 0px;
}